body {
  background-color: #1f2937;
}

main {
  width: 550px;
  height: 550px;
  margin: 100px auto;
}

.password {
  width: 211px;
  height: 39px;
  border: 1px solid black;
}

#password-section {
  width: 446px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#password-section .password {
  background-color: #273549;
  border-radius: 6px;
  border-color: #273549;
}

#main-section {
  width: 446px;
}

hr {
  width: 446px;
  margin-top: 50px;
  background: #2f3e53;
}

#header-section p {
  font-size: 40px;
  font-weight: 800px;
  letter-spacing: -2.5%;
  line-height: 40px;
  color: #10b981;
}

#header-section {
  width: 354px;
  height: 80px;
  margin-top: 115px;
}

#text-p {
  font-size: 20px;
  font-weight: 400px;
  line-height: 28px;
  color: #d5d4d8;
}

button {
  width: 191px;
  height: 42px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 24px;
  background: #10b981;
  color: white;
  border-radius: 6px;
  border: #10b981;
  padding: 9px, 17px, 9px, 15px;
}
